body {
	margin:0;
	padding:0;
	height: 100%;
	background-color: #E2F9C0;;
	color: #000;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:13px;
}

a {
	color: #155B7E;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}